.container { 
    display: grid;
    height: 100vh;
    width: 100vw;
   grid-template-columns: 25% 75%;
    
    grid-template-areas:
      "picture personal-information"
      "experience-header virgin-atlantic-airlines1"
      "experience-header virgin-atlantic-airlines2"
      "education-header virgin-atlantic-training-acadamy"
      "education-header railegh-high"
      "additional-qualifications-header additional-qualification"
      "honors-header honors"
      "affiliations-head affiliations"
      "... ..."
}

#picture {
  grid-area: picture;
}

#personal-information {
  grid-area: personal-information;
}


#experience-header {
  grid-area: experience-header;
}

#experience {
  grid-area: experience;
}

#experience-header2 {
  grid-area: experience-header2;
}

#experience2 {
  grid-area: experience2;
}

#education {
  grid-area: information-labels;
}

#additional-qualifications-header {
  grid-area: additional-qualifications-header;
}

#additional-qualifications {
  grid-area: additional-qualifications;
}

#honors-header {
  grid-area: honors-header;
}
#honors {
  grid-area: honors;
}

#affiliations-header {
  grid-area: affiliations-header;
}

#affiliations {
  grid-area: affiliations;
}

#virgin-atlantic-airlines1 {
  grid-area: virgin-atlantic-airlines1;
}

#virgin-atlantic-airlines2 {
  grid-area: virgin-atlantic-airlines2;
}

#virgin-atlantic-training-academy {
  grid-area: virgin-atlantic-training-academy
}

#raleigh-high {
  grid-area: raleigh-high
}