.container { 
    display: grid;
    height: 100vh;
    width: 100vw;
   
    
    grid-template-areas:
      "picture personal-information"
      "experience-header virgin-atlantic-airlines1"
      "experience-header virgin-atlantic-airlines2"
      "education-header virgin-atlantic-training-acadamy"
      "education-header railegh-high"
      "additional-qualifictions-header additional-qualification"
      "honors-header honors"
      "affiliations-head affiliations"
      "... ..."
}

#picture {
  grid-area: picture;
}

#personal-information {
  grid-area: personal-information;
}

#experience-header {
  grid-area: experience-header;
}

#experience {
  grid-area: experience;
}

#education {
  grid-area: information-labels;
}

#additional-qualifications-header {
  grid-area: additional-qualifications-header;
}

#additional-qualifications {
  grid-area: additional-qualifications;
}

#honors-header {
  grid-area: honors-header;
}
#honors {
  grid-area: honors;
}

#affiliations-header {
  grid-area: affiliations-header;
}

#affiliations {
  grid-area: affiliations;
}